@model Author;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
</html>
<div class="edit-block" style="height: 400px; width: 500px; border: 5px solid #59006f; background-image: linear-gradient(180deg, #4d84e5, #ddd 40%, #fc8cdf)">
    <div>
        <a asp-action="Index">Home</a>
    </div>
    <h2>Author</h2>
    @using (Html.BeginForm("Edit_author", "Home"))
    {
        @Html.HiddenFor(m => m.Id)
        <div class="dataBox">
            <label>Author</label><br />
            @Html.TextBoxFor(m => m.Name, new { @class = "text-box" })
        </div>
        <div class="dataBox">
            <label>Year</label><br />
            @Html.TextBoxFor(m => m.Year, new { @class = "text-box" })
        </div>
        <br />
        <div class="dataBox">
            <input type="submit" value="Save" />
        </div>
    }
</div>
